html,body{
  touch-action: none;
  overflow: hidden;
  overflow-y: hidden;
  padding: 0;
  margin:0;
}
.overlay{
  padding: 0;
  margin:0;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
}

.show{
  background-color: black;
  display:block;
  opacity:1;
  top: 100vh;
}

.hidden{
  background-color: black;
  top: 100vh;
  opacity: 0;

}

.quarter-overlay{
  padding: 0;
  margin:0;
  position: absolute;
  top: 75%;
  left: 0;
  width:100%;
  height:25%;
  z-index: 9999;
}

.indicator{
  padding: 0;
  margin:0;
  position: absolute;
  top: 95%;
  left: 0;
  width:100%;
  height:5%;
  z-index: 9999;
  background-color: black;
}

.arrow-up {
  margin: auto;
  width: 0;
  height: 0;
  border-left: 5vh solid transparent;
  border-right: 5vh solid transparent;

  border-bottom: 5vh solid white;
}

.loading-screen{
  position:relative;
  z-index: 99999;
  background-color: white;
}
.loading-screen_inner{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
